.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1000;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 40%;
  /* max-width: 90%; */
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  align-items: center;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.closeButton {
  background: none;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}



form div {
  width: 100%;
  margin-bottom: 1rem;
}


label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

/* All Client form */
form > div > input[type="text"] {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 90%;
  height: 100px;
  resize: vertical; /* Allow only vertical resize */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button[type="submit"] {
  width: 85px;
}

.highlight-new {
  background-color: lightgreen;
  transition: background-color 2s ease;
}
